.pagination {
  &-list {
    display: flex;
    gap: 0.4rem;

    &__item {
      & > button {
        cursor: pointer;
        outline: none;
        background-color: #e9ecef;
        border: 1px solid #4dabf7;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        transition: all 0.3s;

        &:hover {
          background-color: #4dabf7;
          color: #fff;
        }
      }
    }
  }
}
