.app {
  padding: 2rem 4rem;
}

.countries-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  row-gap: 1rem;
}
